{{ define "main" }}
<div id="content" class="home">
    <div class="leader">
        {{ with .Site.GetPage "/post/2020-01-30/launch.md" }}
        <div class="image"><a href="{{ .Permalink }}" title="{{ .Title }}"><img src="{{ .Params.image }}" alt="{{ .Title }}"/></a></div>
        <div class="title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></div>
        <div class="subtitle"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Params.subtitle }}</a></div>
        <div class="excerpt"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Params.excerpt }}</a></div>
        {{ end }}
    </div>
    <div class="post">
        {{ with .Site.GetPage "/post/2020-01-16/5pm-search.md" }}
        <div class="image"><a href="{{ .Permalink }}" title="{{ .Title }}"><img src="{{ .Params.image }}" alt="{{ .Title }}"/></a></div>
        <div class="title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></div>
        {{ end }}
    </div>
    <div class="post">
        {{ with .Site.GetPage "/post/2020-01-15/5pm-search.md" }}
        <div class="image"><a href="{{ .Permalink }}" title="{{ .Title }}"><img src="{{ .Params.image }}" alt="{{ .Title }}"/></a></div>
        <div class="title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></div>
        {{ end }}
    </div>
    <div class="post">
        {{ with .Site.GetPage "/post/2020-01-03/5pm-search.md" }}
        <div class="image"><a href="{{ .Permalink }}" title="{{ .Title }}"><img src="{{ .Params.image }}" alt="{{ .Title }}"/></a></div>
        <div class="title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></div>
        {{ end }}
    </div>
</div>
{{ end }}