<div id="footer">
    <div id="links">
        {{ range .Site.Data.fivepm.social.social_icons }}
            {{- if isset $.Site.Author .id }}
                <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
                    <i class="{{ .icon }}"></i>
                </a>
            {{- end -}}
        {{ end }}
    </div>
    <div id="tagline">
        <a href="{{ .Site.BaseURL | absLangURL }}">{{ .Site.Title }}</a>
        <span>|</span>
        <span>{{ .Site.LastChange.Format "2006" }}</span>
    </div>
</div>