<div id="h-spacer">
    A place to unwind...
</div>
<div id="header">
    <div id="title">5pm . <span>{ dev }</span></div>
    <div id="menu">
        {{ range .Site.Menus.main.ByWeight }}
            {{ if .HasChildren }}
                <div class="menu-item">
                    <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}" >{{ .Name }}</a>
                    <div class="sub-menu">
                        {{ range .Children }}
                            <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                        {{ end }}
                    </div>
                </div>
            {{ else }}
                <div class="menu-item">
                    <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}" >{{ .Name }}</a>
                </div>
            {{ end }}
        {{ end }}
        
        <div class="menu-item search">
            <label id="search-open" for="search-toggle"><i class="far fa-search"></i></label>
            <input type="checkbox" id="search-toggle"/>
            <div id="search-container">
                <label id="search-close" for="search-toggle"><i class="fal fa-times"></i></label>
                <div id="search-wrapper"></div>
            </div>
        </div>
    </div>
</div>