<head>
    <title>5pm . { dev } | a place to unwind</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png?v=kPP08pKEXB" sizes="16x16">
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png?v=kPP08pKEXB" sizes="32x32">
    <link rel="icon" type="image/png" href="/icons/favicon-194x194.png?v=kPP08pKEXB" sizes="192x192">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <script src="/js/search.js"></script>
    <script src="https://kit.fontawesome.com/510e2b1d73.js" crossorigin="anonymous"></script>
</head>