/* Reset styles */
html,
body {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 10px;
    font-family: 'Noto Sans TC', sans-serif;
}

/* Site styles */
#h-spacer {
    height: 10rem;
    font-size: 4rem;
    text-align: center;
    line-height: 10rem;
}
#header {
    display: grid;
    grid-template-columns: 1.5rem auto 25rem 1.5rem;
    grid-template-areas: ". title menu .";
    position: sticky;
    height: 5rem;
    top: 0;
    background: #CBE896;
    z-index: 1;
}
#header #title {
    grid-area: title;
    align-self: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #2B4141;
}
#header #menu {
    grid-area: menu;
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    font-size: 1.65rem;
}
#header #menu .menu-item {
    display: grid;
    cursor: pointer;
}
#header #menu .menu-item:hover {
    background: #EAF4D3;
}
#header #menu .menu-item a {
    display: grid;
    justify-content: center;
    align-content: center;
    color: #2B4141;
    text-decoration: none;
}

#header #menu .menu-item.search #search-open {
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}
#header #menu .search #search-toggle {
    display: none;
}
#header #menu .search #search-container {
    position: fixed;
    display: none;
    grid-template-columns: 1fr 90vw 1fr;
    grid-template-rows: 1fr 80vh 1fr;
    grid-template-areas:
        ". . toggle"
        ". search ."
        ". . .";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    cursor: default;
}
#header #menu .search #search-toggle:checked + #search-container {
    display: grid;
}
#header #menu .search #search-container #search-close {
    grid-area: toggle;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    color: #CBE896;
    font-size: 4rem;
}
#header #menu .search #search-container #search-wrapper {
    grid-area: search;
}

#content {
    display: grid;
    min-height: calc(100vh - 35.5rem);
    padding: 0 2rem;
}
#content .highlight pre {
    display: inline-block;
    padding: 1rem;
    width: 100%;
    max-width: 85.7vw;
    overflow-x: scroll;
}

/* Mobile */
#content.home {
    grid-template-areas:
        "leader"
        "."
        "."
        ".";
    
    grid-gap: 1rem;
    padding: 2rem;
}
/* Mid-Size */
@media screen and (min-width: 600px) {

}
/* Desktop */
@media screen and (min-width: 1000px) {
    #content.home {
        grid-template-rows: 40rem 30rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "leader leader leader"
            ". . .";
    }
}

#content.home .post {
    position: relative;
    overflow: hidden;
}
#content.home .post .image {
    width: 100%;
    height: 100%;
}
#content.home .post .image img {
    width: 100%;
}
#content.home .post .title {
    position: absolute;
    width: 100%;
    height: 5rem;
    bottom: 0;
    text-align: center;
    line-height: 5rem;
    background: rgba(234,244,211, 0.7);
}
#content.home .post .title a {
    font-size: 2em;
    color: #2B4141;
    text-decoration: none;
}

/* Mobile */
#content.home .leader {
    grid-area: leader;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "image"
        "title"
        "subtitle"
        "excerpt";
    grid-gap: 1rem;
    position: relative;
    overflow: hidden;
}
/* Mid-Size */
@media screen and (min-width: 600px) {

}
/* Desktop */
@media screen and (min-width: 1000px) {
    #content.home .leader {
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "image title"
            "image subtitle"
            "image excerpt";
    }
}
#content.home .leader .image {
    grid-area: image;
    overflow: hidden;
}
#content.home .leader .image img {
    width: 100%;
}
#content.home .leader .title {
    grid-area: title;
    font-weight: bold;
}
#content.home .leader .subtitle {
    grid-area: subtitle;
}
#content.home .leader .excerpt {
    grid-area: excerpt;
}
#content.home .leader a {
    color: #2B4141;
    text-decoration: none;
}
#content.home .leader .title a {
    font-size: 2rem;
}
#content.home .leader .subtitle a {
    font-size: 1.75rem;
}
#content.home .leader .excerpt a {
    font-size: 1.5rem;
}

#content #wrapper {
    display: grid;
    max-width: 120rem;
    justify-self: center;
    font-size: 1.75rem;
}
#content .single-tab {
    padding: 0 0 0 3rem;
}

#about-me img {
    width: 25rem;
    border-radius: 10rem;
    margin: 1.75rem 3rem 1.75rem 0;
}

#content.sky {
    align-items: center;
    justify-items: center;
}
#content.sky .cloud {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 50rem;
    padding: 2rem;
}
#content.sky .cloud .cloud-item {
    -webkit-flex: 1 auto;
    flex: 1 auto;
    text-align: center;

    display: inline-block;
    color: #2B4141;
    text-decoration: none;
}
#content.sky .cloud .cloud-item:hover {
    text-decoration: underline;
}
#content.sky .cloud .cloud-item[data-size="1"] {
    padding: 0 0.5rem;
    color: #182825;
    font-size: 1.5rem;
}
#content.sky .cloud .cloud-item[data-size="2"] {
    padding: 0 0.6rem;
    color: #FFB400;
    font-size: 1.75rem;
}
#content.sky .cloud .cloud-item[data-size="3"] {
    padding: 0 0.7rem;
    color: #7AE582;
    font-size: 2rem;
}
#content.sky .cloud .cloud-item[data-size="4"] {
    padding: 0 0.8rem;
    color: #E9190F;
    font-size: 2.25rem;
}
#content.sky .cloud .cloud-item[data-size="5"] {
    padding: 0 0.9rem;
    color: #2191FB;
    font-size: 2.5rem;
}
#content.sky .cloud .cloud-item[data-size="6"] {
    padding: 0 1rem;
    color: #F6511D;
    font-size: 2.75rem;
}
#content.sky .cloud .cloud-item[data-size="7"] {
    padding: 0 1.1rem;
    color: #7FB800;
    font-size: 3rem;
}
#content.sky .cloud .cloud-item[data-size="8"] {
    padding: 0 1.2rem;
    color: #084C61;
    font-size: 3.25rem;
}
#content.sky .cloud .cloud-item[data-size="9"] {
    padding: 0 1.3rem;
    color: #CBE896;
    font-size: 3.5rem;
}
#content.sky .cloud .cloud-item[data-size="10"] {
    padding: 0 1.4rem;
    color: #A23B72;
    font-size: 3.75rem;
}
#content.sky .cloud .cloud-item[data-size="11"] {
    padding: 0 1.5rem;
    color: #80FFEC;
    font-size: 4rem;
}

#content.tag-list {
    padding: 0 2rem;
    justify-items: center;
}
#content.tag-list .container {
    display: grid;
    grid-template-columns: auto 20rem;
    grid-template-areas: "posts sidebar" "pagination pagination";
    grid-column-gap: 2rem;
    width: 100%;
    max-width: 120rem;
}
#content.tag-list .container .posts {
    grid-area: posts;
}
#content.tag-list .posts .preview {
    padding: 2rem 0 0 0;
    border-bottom: 0.01rem solid black;
}
#content.tag-list .posts .preview a {
    color: #2B4141;
    text-decoration: none;
}
#content.tag-list .posts .preview a:hover {
    color: black;
    text-decoration: underline;
}
#content.tag-list .posts .preview .title {
    font-size: 2rem;
}
#content.tag-list .posts .preview .subtitle {
    font-size: 1.75rem;
}
#content.tag-list .posts .preview .entry {
    font-size: 1.25rem;
    color: #2B4141;
}
#content.tag-list .posts .preview .meta {
    padding: 0 0 1rem 0;
}
#content.tag-list .posts .preview .meta .tag {
    padding: 0 0.25rem 0 0;
    font-size: 1.25rem;
}
#content.tag-list .container .side-bar {
    grid-area: sidebar;

}
#content.tag-list .container .pager {
    grid-area: pagination;
}

#footer {
    display: grid;
    grid-template-rows: 6rem 12rem;
    grid-template-areas: "links" "tagline";
    border-top: 0.5rem solid #CBE896;
}
#footer #links {
    grid-area: links;
    font-size: 3rem;
    line-height: 6rem;
    text-align: center;
}
#footer #links a {
    display: inline-block;
}
#footer #links a svg {
    margin: 0 1rem;
    color: #2B4141;
}
#footer #links a:hover svg {
    cursor: pointer;
    color: black;
}
#footer #tagline {
    grid-area: tagline;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    background: #F2EFEA;
}
#footer #tagline a {
    color: #2B4141;
    text-decoration: none;
}