<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    <script src="{{ .Site.BaseURL }}js/main.js"></script>
  </body>
</html>
