{{ define "main" }}
<div id="content" class="tag-list">
  <div class="container">

  {{ with .Content }}
    <div class="well">
      {{.}}
    </div>
  {{ end }}


  <div class="posts">


    {{ range .Paginator.Pages }}
      <div class="preview">
        <a href="{{ .Permalink }}">
          <div class="title">{{ .Title }}</div>

          {{ if .Params.subtitle }}
            <div class="subtitle">{{ .Params.subtitle }}</div>
          {{ end }}
        </a>

        <div class="meta">
          {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format | i18n "postedOnDate" }}
        </div>

        <div class="entry">
          {{ if .Truncated }}
            {{ .Summary }}
            <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
          {{ else }}
            {{ .Content }}
          {{ end }}
        </div>

        {{ if .Params.tags }}
          <div class="meta">
            {{ range .Params.tags }}
              <span class="tag"><a class="tag" href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">#{{ . }}</a></span>
            {{ end }}
          </div>
        {{ end }}

        </div>
    {{ end }}


  </div>

  <div class="side-bar"></div>


  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager main-pager">
      {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}

  </div>
</div>
{{ end }}