{{ define "main" }}

{{ $.Scratch.Set "tags" (slice) }}
{{ range $name, $taxonomy := ($.Site.Taxonomies.tags) }}
    {{ $.Scratch.Add "tags" $name }}
{{ end }}

<div id="content" class="sky">
    <div class="cloud">
        {{ range $name := $.Scratch.Get "tags" | shuffle }}
            {{ $taxonomy := index $.Site.Taxonomies.tags $name }}
            <a href="{{ $taxonomy.Page.Permalink }}" class="cloud-item" data-size="{{ $taxonomy.Count }}">
                {{ $name }}
            </a>
        {{ end }}
    </div>
</div>
{{ end }}